@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Kreon:300,400,700');

body {  
    background: #f4f4f4 url("../images/body.png");
    font-size: 12px;
    color: #929292;
}

header, footer,  .home-main, .blog-main {
    margin-left: 7.6%;
    margin-right: 8.2%;
}


/* NAVBAR START */

.navbar{
    min-height: 100px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 0px;
    border: 0px;
    /*box-shadow: inset 6px 15px 70px -15px rgba(0,0,0,0.1);*/
}

.navbar .my-brand {
    padding: 15px 30px;
    margin-left: 15px;
    padding-top: 30px;
}
.navbar .logo-slogan {
    font-family: "Kreon", serif;
    font-size: 11px;
    color: #437d8b;
    font-weight: bold;
    text-transform: uppercase;
    margin: -26px 0 0 55px;
    letter-spacing: -0.5px;
}
.navbar .font-icons {
    color: #e3e3e3;
    margin-top: 12px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 15px;
}

.navbar .font-icons:hover {
    color: #437d8b;
}

.navbar .nav-search {
    margin-left: 15px;
    margin-right: -13px;
    margin-top: 1px;

}
.navbar .nav-search .search-bar{
    width: 162px;
}

.navbar .nav-search #searchBar{
    font-family: 'Georgia';
    font-size: 11px;
    background-color: #f9f9f9;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    font-style: italic;
    padding-left: 13px;
}

.navbar .nav-search .search-icon {
    position: absolute;
    top: 11px;
    right: 6px;
    
}

.navbar .my-navbar{
    margin-top:50px;
    margin-right: 20px;
    margin-bottom: 10px;

}
.navbar .my-navbar a {
    font-family: "Kreon", serif;
    font-weight: 300;
    font-size: 15px;
    color: #1d1d1d;
}

.navbar-nav > li > a{
    padding-top: 8px;
    padding-right: 7px;
}
.navbar .navbar-nav > li > a:hover {
    color: #437d8b;
}

/* NAVBAR END */



/* HOME SUB-NAVBAR START */

.home-main .sub-nav{
    background: url("../images/subNav.jpg");
    color: #1d1d1d; 
    font-family: "Kreon";
    font-weight: 300;
    font-size: 15px;    
    background-size: cover;
    text-transform: uppercase;
    border-top: 1px solid #cbcbcb;
    
}
.home-main .sub-nav ul {
    padding: 0px;
    margin: 15px;
    list-style-type: none;
}
.home-main .sub-nav li {
    display: inline-block;
    padding-right:15px;
}
.home-main .sub-nav li a {
        color: #1d1d1d; 
        font-family: "Kreon";
}
.home-main .sub-nav li a:hover {
    color: #437d8b;
    text-decoration: none; 
}

/* HOME SUB-NAVBAR END */


/* HOME MAIN-CAROUSEL */

.main-slider{
    background-color: #fff;
    padding-bottom: 50px;
}

/* carousel-setings */
.carousel-control {
    width: 0%;
}
#myCarousel .item img{
      width:100%;
      height:330px;
}

/* dots */
.carousel-indicators li {
    position: relative;
    top: 67px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: lightgray;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: black;
    border-color: gray;
}

/* slider arrow image */
.carousel-control .rightArrow {
    position: absolute;
    top: 50%;
    right: -7px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .leftArrow {
    position: absolute;
    top: 50%;
    left: -7px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-caption {
    left: initial;
    right: 5.5%;
    top: 14.9%;
    width: 42.7%;
    height: 71%;
    background: rgba(0, 0, 0, 0.55);
    text-align: left;
    padding: 5%;
}
.carousel-caption h1 {
    font-family: "Kreon", serif;
    font-size: 28px;
    font-weight: 300;
    margin-top: 0;
    color: #fff;
}
.carousel-caption p {
    font-family: "Droid-Sans";
    line-height: 170%;
    font-size: 12px;
    color: #beb4b1;
}
.btn-carousel-caption{
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: rgba(12, 14, 2, 0.2);
    font-family: "Kreon", serif;
    font-size: 13px;
    color: #6d7f83;
    border-radius: 0px;
    
}

/* HOME MAIN CAROUSEL END */

/* HOME MAIN */
.home-main{
    background-color: #fff;
}
.home-main .home-section {
    margin-top: 5px; 
}
.home-main .home-section .container-fluid {
      padding-left: 30px;
      padding-right: 30px; 
}
.home-main .section-headline {
      border-bottom: 1px solid #f0f0f0;
      border-top: 1px solid #f0f0f0;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 21px; 
}
.home-main .section-headline h2 {
        color: #1d1d1d;
        font-family: "Kreon", serif;
        font-weight: 300;
        font-size: 24px; 
}
.home-main .section-headline h4 {
    
        font-size: 15px;
        font-family: "Kreon", serif;
        font-weight: 300;
        color: #929292; 
}



.home-main .home-section .cart-description{
    height: 70px;
    width: 250px;
    margin-left: 25px;
    overflow: hidden;
}
.home-main .home-section .cart-header{
    margin-left: 3px;
}

.home-main .home-section .cart-image-container{
    width:240px;
    height:125px;
}

.home-main .home-section .cart-image-container:hover .cart-image {
            opacity: 0.5;
}

.home-main .home-section .cart-image-container:hover .cart-hover-icon {
            visibility: visible;
}

.home-main .home-section .cart-hover-icon {
        position: relative;
        left: 115px;
        bottom: 83px; 
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url("../images/cart-hover-icon.png");
        visibility: hidden;
}

.home-main .home-section .cart-image{
   
    width:240px;
    height:125px;
    object-fit:cover;
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    border-right: 2px solid #f0f0f0;
    padding: 3px;
    margin-left: 20px;
}


.home-main .home-section ul {
    margin-left: 20px;
    padding-left: 15px;
}

.home-main .home-section li {
    color: #929292;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
}
.home-main .home-section li a {
      text-decoration: none;
      color: #929292; 
}

.home-main .home-section .row h3{
    font-size: 20px;
    font-family: "Kreon", serif;
    font-weight: 300;
    color: #1d1d1d;
    padding-left: 22px;
}

.home-main .home-section .row p{
    margin-top: 15px;
    font-family: "Droid Sans", sans-serif;
}

/* HOME MAIN END*/

.testov{
    margin-bottom: 20px;
}
.mediaw{
   padding-left: 35px;
   padding-right: 35px;
   height: 85px;
  
}
/* MEDIA CAROUSEL */

.media-carousel{
    background-color: #fff;
    border:1px solid #ececec;
    border-bottom: 2px solid #ececec;
    border-radius: 5px;
    padding: 10px;
}
.media-carousel .item > img{
    background-color: #fff;
    float: left;
    width: 55px;
    height: 55px;
    margin-left: 18px;
    padding: 3px;
    border: 1px solid #f0f0f0;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
}

.carousel-control .rightArrowMedia {
    position: absolute;
    top: 43%;
    right: -18px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .leftArrowMedia {
    position: absolute;
    top: 43%;
    left: -18px;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

/* MEDIA CAROUSEL END */



/* BLOG - MAIN START */
.blog-main{
    background-color: #fff;
    font-family: "Droid", serif;
}
.blog-main .container-fluid {
    padding-left: 5%;
    padding-right: 5%; 
}
.blog-main h1 {
    font-family: "Kreon";
    font-weight: 300;
    font-size: 28px;
    color: #1d1d1d;
    margin-bottom: 5px; 
}
.blog-main h3 {
    font-family: "Kreon";
    font-weight: 300;
    font-size: 22px;
    color: #1d1d1d;
    margin-top: 0; 
}
.blog-main a {
    text-decoration: none;

}
.blog-main .blog-path{
    margin-top: 11px;
    font-size: 14px;
}
.blog-main .blog-title{
    background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 );
    /* IE6-9 */

    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 21px; 
}

    

/* BLOG - MAIN END */
.reblog-review h3{
    color: #1d1d1d;
    font-size: 25px;
}
.review-info{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 15px;
    margin-top:15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.review-info p{
    margin: 0px;
}

.review-content{
    padding-left: 15px;
}


.review-content .thumbnail {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  border-radius: 0px;
  
}
.review-content .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


 .btn-custom {
    background: none;
    font-weight: bold;
    color: #1d1d1d;
    font-family: 'Kreon', serif;
    float: right;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 10px;
    border: 1px solid #f0f0f0;
  }
 .btn-custom a{
    color: #1d1d1d;
}
 .btn-custom:hover {
      color: #fff;
      background: #437d8b;
}
.darker{
    color: #437d8b;
}
/* BLOG - SECTION */


.btn-auth{
    background: none;
    font-weight: bold;
    color: #1d1d1d;
    font-family: 'Kreon', serif;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 10px;
    border: 1px solid #f0f0f0;
}
.btn-auth a{
    color: #1d1d1d;
}
.btn-auth:hover {
      color: #fff;
      background: #437d8b;
}
/* BLOG-SIDEBAR */
.aside-review{
    margin-left: 30px;
}
.sidebar{
    margin-left: 20px;
}
.sidebar ul {
    padding-left: 15px;
}
.sidebar li {
    color: #929292;
    
    font-size: 12px;
    margin-bottom: 5px;
}
.sidebar li a {
    text-decoration: none;
    color: #929292; 
}
.sidebar h3 {
    color: #1d1d1d;
    font-family: "Kreon", serif;
    font-size: 20px;
    margin-top:0px;
    margin-bottom: 13px; 
}
.sidebar p {
    color: #929292;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px; 
}

/* BLOG-SIDEBAR END */


/* FOOTER */


footer{
    background-color: #f9f9f9;
    padding-top: 25px;
    border-top: 1px solid #f0f0f0;
    
}
footer .footer-colums{
    padding-left: 45px;
}
footer ul {
    padding-left: 15px;
}
footer li {
    color: #929292;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
}
footer li a {
    text-decoration: none;
    color: #929292; 
}
footer h3 {
    color: #1d1d1d;
    font-family: "Kreon", serif;
    font-weight: 300;
    font-size: 20px;
    margin-top:0px;
    margin-bottom: 13px; 
}
footer p {
    color: #929292;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px; 
}

footer img{
    height: 42px;
    width: 170px;
}
footer .footer-logo{
    font-size: 9px;
    color: #437d8b;
    font-weight: bold;
    text-transform: uppercase;
    margin: -22px 0 0 40px;
    letter-spacing: -0.5px;
}
footer .copyright {
    
    font-size: 10px;
    color: #717171;
    margin-top: 13px;
    margin-bottom: 5px;
}

footer .footer-author{
    margin-top: 43px;
    padding-bottom: 15px;
    margin-right: 20px;
}
/* FOOTER END */


/* Review Comments */
.add-comment{
    padding-bottom: 70px;
}
.comment-info{
    width: 276px;
 
}
.comment-text{
    width: 545px;
}
.form-group{
    margin-bottom: 7px;
}

.comment-input{
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 );
    /* IE6-9 */

      
}



/* Review Comments END */



.panel{
    background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #ffffff 41%, #ffffff 49%, #ffffff 58%, #fafafa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 );
    /* IE6-9 */
}





	
/* media */

@media (max-width: 991px) {
  
}

@media (max-width: 768px) {

    .navbar {
        min-height: 53px;
    }
    .navbar .my-brand {
        padding: 5px;
    }
    .navbar .my-brand img {
        width: 160px;
    }
    .navbar .logo-slogan{
        margin: -25px 0 0 45px;
        font-size: 8px;
    }
    .comment-info{
    width: 100%;
 
    }
    .comment-text{
        width: 100%;
    }
    .home-main .home-section .img-responsive {
    width:100%;
    }
    .home-main .home-section .cart-header{
       margin-left: 0px;
    }
    .home-main .home-section .cart-image{
        margin-left: 0px;
    }
    .home-main .home-section .cart-description{
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .testov{
        display: none;
    }
  
    
}

@media (max-width: 767px) {
    .font-icons {
        display: none;
    }
    .nav-search {
        margin-top: 8px;
        margin-left: 0;
    }
    .nav-search .search-bar {
        
        padding-right: 7px;
    }
    .navbar .nav-search .search-bar{
        width: 100%;
    }
    .navbar .my-navbar {
        margin-top: 0;
    }
    .navbar .navbar-nav {
        margin: 0;
    }
    .sub-nav {
        display: none; 
    }
    .main-slider{
        display: none;
    }
    .home-main .home-section{
        margin-top:0px;
    }
    
}






