<div class="blog-main">
    <div class="container-fluid">
        <p class="blog-path">
            <a href="#/home">
                Home
            </a>
            <span> &raquo; </span>
            <a href="#/reviews">
                Reviews
            </a>
            <span> &raquo; </span>
            <a href="#/reviews/add">
                Add Review
            </a>
        </p>
        </p>
        <div class="blog-title">
            <h1>Add New Movie Review</h1>
            <h3>sub header</h3>
        </div>
        <div class="row">
            <div class="col-sm-9">

            </div>

        </div>
    </div>
</div>
