<main class="blog-main">
    <div class="container-fluid">
        <p class="blog-path">
            <a href="#/home">
                Home
            </a>
            <span> &raquo; </span>
            <a href="#/reviews">
                Reviews
            </a>
            <span> &raquo; </span>
            <a href="#/reviews/add" >
                Add Review
            </a>
        </p>
        </p>
        <div class="blog-title">
            <h1>Add New Movie Review</h1>
            <h3>sub header</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form id="addReview" class="form-horizontal" method="POST" action="#/reviews/add">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-8 inputGroupContainer">
                            <select name="category" id="category" class="form-control" required>
                                <option value=""></option>
                                <option value="Action">Action</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Crime">Crime</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Drama">Drama</option>
                                <option value="Sci-fi">Sci-fi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input id="title" placeholder="Title of movie" name="title" class="form-control" type="text" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea id="description" placeholder="Short description" name="description" class="form-control" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Review</label>
                        <div class="col-sm-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea id="reviewText" name="reviewText" placeholder="Text of yours review" class="form-control" cols="40" rows="10" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Upload images</label>
                        <div class="col-sm-8 inputGroupContainer">
                            <input id="file" type="file" class="form-control" name="uploadedImage" onchange="show(this)" multiple="multiple" required/>
                        </div>
                    </div>
                    <div id="imgContainer" class="col-sm-12"></div>


                    <script>
                        function show(input) {
                            if (input.files && input.files[0]) {
                                let imgId = 1;
                                for (let img of input.files) {
                                    let filerdr = new FileReader();
                                    filerdr.onload = function (e) {
                                        $('<div>').addClass('col-sm-12')
                                            .append($('<img>')
                                                .attr('name', 'uploadedImage' + imgId)
                                                .attr('src', e.target.result)
                                                .addClass('img-thumbnail'))
                                            .appendTo('#imgContainer');
                                    }

                                    filerdr.readAsDataURL(img);
                                    imgId += 1;
                                }
                            }
                        }
                    </script>
                    
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-auth">ADD NEW REVIEW</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>