<div class="blog-main">
	<div class="container-fluid">
		<p class="blog-path">
			<a href="#/home">
                Home
            </a>
			<span> &raquo; </span>
			<a href="#/register">
                Register
            </a>
		</p>
		</p>
		<div class="blog-title">
			<h1>Register</h1>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-12">

				<form id="register" class="form-horizontal" method="POST">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
								<input type="text" required class="form-control" name="username" id="username" placeholder="Enter your Username" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" required class="form-control" name="password" id="password" placeholder="Enter your Password" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="firstName" class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="text" required class="form-control" name="firstName" id="firstName" placeholder="Enter your First Name" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="lastName" class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="text" required class="form-control" name="lastName" id="lastName" placeholder="Enter your Last Name" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">E-mail</label>
						<div class="col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="text" required class="form-control" name="email" id="email" placeholder="Enter your E-mail" />
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-auth">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>